<div layout="column">

  <md-content layout-padding>
    <section class="jumbotron">
      <h1>Search For Articles</h1>
    </section>

    <div class="techs" layout-align="center">
      Type your search terms below.

      <md-content layout-padding>
        <div layout="column" class="col s5">
          <md-input-container class="md-block">
            <label>Query</label>
            <input ng-model="main.query" type="text">
          </md-input-container>
          <md-button class="md-raised md-primary" ng-click="main.search()">search</md-button>
        </div>
      </md-content>

      <md-content layout-gt-sm="row" layout-padding ng-show="main.articles">
        <md-list flex>
          <md-subheader class="md-no-sticky">Search Results</md-subheader>
          <md-list-item class="md-2-line" ng-repeat="article in main.articles">
            <md-card class="md-list-item-text" layout="column">
              <md-card-title-text>
                <span class="md-headline" ng-bind="article.title"></span>
              </md-card-title-text>
              <md-list flex ng-show="article.audio.length > 0">
                <md-subheader class="md-no-sticky">Clips</md-subheader>
                <md-list-item class="md-1-line" ng-repeat="clip in article.audio">
                  <md-button ng-click="main.play(clip)" class="md-primary">listen</md-button>
                </md-list-item>
              </md-list>
            </md-card>
          </md-list-item>
        </md-list>
        <div >
          {{article.title}}
        </div>
      </md-content>
    </div>
  </md-content>

</div>
